/*definição das variáveis do CSS*/
:root {
    --the-color: rgb(102, 101, 101);
    --back-color: rgb(255, 255, 255);
}

/*Resetar as configuracoes do navegador*/
* {
    background: var(--back-color);
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
}
 main {
     display: flex;
     justify-content: space-between;
     width: 1200px;
     margin: 0 auto;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 img {
     height: 200px;
     width: 200px;
 }

 .box {
     width: 350px;
     height: 350px;
     border: 1px solid;
     margin-bottom: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #red {
     background: var(--the-color);

 }

 #green {
     background: var(--the-color);
 }

 #blue {
     background: var(--the-color);
 }